{% extends 'base.html.twig' %}

{% block title %}Hello ShinydexController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<div class="main-container">
    <div class="titre-page">
        <h1 id="h1-shinydex">Shinydex</h1>
    </div>
    <div>
        {{totalCaught}}/{{total}}
    </div>
    <div class="div-select">
        <div>    
            <button>+</button>
            <span>Ajouter un nouveau Shiny</span>
        </div>
        <select name="sel-generation" id="select-generation">
                {% for generation in generations %}
                    <option value="{{generation.id}}">{{generation.number}}</option>
                {% endfor %}
        </select>
    </div>
    <div id="totalByGen">
    </div>
    <div class="div-shinydex">
        {% for pokemon in pokemons %}
        <div class="pokemon" value="{{ pokemon.generation.id }}">
            <div class="pokemon_id"> # {{ pokemon.PokedexId }} </div>
            {% set captured = capturedPokemons[pokemon.getId()] is defined %}
            {% if captured %}
            <img src="{{ pokemon.SpriteShiny }}">
            {% else %}
            <img class="filter" src="{{ pokemon.SpriteRegular }}">
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>
<script>
function changeGeneration () {
    var selectedGeneration = document.getElementById('select-generation').value;
    var pokemons = document.querySelectorAll('.pokemon');
    var totalByGen = document.getElementById('totalByGen');
    var total = '{{totalCaughtByGen|raw}}';
    total = JSON.parse(total);

    pokemons.forEach(function(pokemon) {
        var generationId = pokemon.getAttribute('value');
        if (selectedGeneration === 'null' || selectedGeneration === generationId) {
            pokemon.style.display = 'block';
        } else {
            pokemon.style.display = 'none';
        }  
        
    });
    if (total[selectedGeneration] == undefined){
        totalByGen.innerHTML = 0;
    }else{
        totalByGen.innerHTML = total[selectedGeneration];
    }
};

document.addEventListener('DOMContentLoaded', changeGeneration);
document.getElementById('select-generation').addEventListener('change', changeGeneration);
</script>
{% endblock %}
