{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<div class="mt-24 flex flex-col justify-center mx-auto w-11/12">
    <div class="flex flex-col xl:flex-row justify-center">
        <div class="bg-neutral-600 xl:w-1/2  border-black border-3 rounded-lg m-5 p-2" id="bloc-top-shasse">
            <div class="text-white text-2xl underline underline-offset mt-2 ml-5">Top Shasses<br></div>
            <canvas id="chartShasses" class:""></canvas>
        </div>
        <div class="bg-neutral-600 xl:w-1/2 border-black border-3 rounded-lg m-5 p-2" id="bloc-top-dresseur">
            <div class="text-white text-2xl underline underline-offset mt-2 ml-5">Top Dresseurs<br></div>
            <canvas id="chartBestDresseurs" class=""></canvas>
        </div>
    </div>
    <div class="flex flex-col xl:flex-row justify-center">
        <div class="bg-neutral-600 xl:w-1/2  border-black border-3 rounded-lg m-5 p-2" id="bloc-shiny-jour">
            <div class="text-white text-2xl underline underline-offset mt-2 ml-5">Shiny du jour<br></div>
            <canvas id="chartShinyDay" class=""></canvas>
        </div>
        <div class="bg-neutral-600 xl:w-1/2  border-black border-3 rounded-lg m-5 p-2" id="bloc-pokemon-team">
            <div class="text-white text-2xl underline underline-offset mt-2 ml-5">Top Pokemon Team<br></div>
            <canvas id="chartPokemonTeam" class=""></canvas>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    var ctx = document.getElementById('chartPokemonTeam').getContext('2d');
    var pokemons = [];
    var occurrences = [];
    {% for pokemon in pokemon_team %}
        pokemons.push("{{pokemon.name_fr}}");
        occurrences.push("{{pokemon.occurrence}}");
    {% endfor %}
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: pokemons,
            datasets: [{
                label: 'Top Pokemon présent dans Team',
                data: occurrences,
                backgroundColor: '#38bdf8',
                borderWidth: 1,
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true,
                    ticks: {
                        color: '#ffffff' // Couleur des étiquettes de l'axe y en blanc
                    }
                },
                x: {
                    ticks: {
                        color: '#ffffff' // Couleur des étiquettes de l'axe x en blanc
                    }
                }
            },
            plugins: {
                legend: {
                    labels: {
                        color: '#ffffff' // Couleur des étiquettes de la légende en blanc
                    }
                }
            },
            indexAxis: 'y'
        }
    });
</script>

<script>var ctx = document.getElementById('chartShinyDay').getContext('2d');
    var days = [];
    var nbCaught = [];
    {% for caught in shiny_du_jour %}
        days.push("{{caught.date_capture}}");
        nbCaught.push("{{caught.nb_capture}}");
    {% endfor %}
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: days,
            datasets: [{
                label: 'Nombre de Shiny par jour',
                data: nbCaught,
                backgroundColor: '#38bdf8',
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true,
                    ticks: {
                        color: '#ffffff' // Couleur des étiquettes de l'axe y en blanc
                    }
                },
                x: {
                    ticks: {
                        color: '#ffffff' // Couleur des étiquettes de l'axe x en blanc
                    }
                }
            },
            plugins: {
                legend: {
                    labels: {
                        color: '#ffffff' // Couleur des étiquettes de la légende en blanc
                    }
                }
            }
        }
    });
</script>
<script>var ctx = document.getElementById('chartBestDresseurs').getContext('2d');
    var dresseurs = [];
    var nbCaught = [];
    {% for dresseur in top_dresseur %}
        dresseurs.push("{{dresseur.dresseur}}");
        nbCaught.push("{{dresseur.occurrences}}");
    {% endfor %}
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: dresseurs,
            datasets: [{
                label: 'Top Dresseurs',
                data: nbCaught,
                backgroundColor: '#38bdf8',
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true,
                    ticks: {
                        color: '#ffffff' // Couleur des étiquettes de l'axe y en blanc
                    }
                },
                x: {
                    ticks: {
                        color: '#ffffff' // Couleur des étiquettes de l'axe x en blanc
                    }
                }
            },
            plugins: {
                legend: {
                    labels: {
                        color: '#ffffff' // Couleur des étiquettes de la légende en blanc
                    }
                }
            },
            indexAxis: 'y'
        }
    });
</script>
<script>var ctx = document.getElementById('chartShasses').getContext('2d');
    var name_fr = [];
    var occurrences = [];
    {% for pokemon in top_shasse %}
        name_fr.push("{{pokemon.name_fr}}");
        occurrences.push("{{pokemon.occurrences}}");
    {% endfor %}
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: name_fr,
            datasets: [{
                label: 'Top Shasses du jour',
                data: occurrences,
                backgroundColor: '#38bdf8',
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true,
                    ticks: {
                        color: '#ffffff' // Couleur des étiquettes de l'axe y en blanc
                    }
                },
                x: {
                    ticks: {
                        color: '#ffffff' // Couleur des étiquettes de l'axe x en blanc
                    }
                }
            },
            plugins: {
                legend: {
                    labels: {
                        color: '#ffffff' // Couleur des étiquettes de la légende en blanc
                    }
                }
            },
            indexAxis: 'y'
        }
    });</script>
{% endblock %}
