{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <div class="flex justify-center bg-neutral-600 rounded-lg w-11/12 lg:w-6/12 mt-24 mx-auto">
        {{ form_start(registrationForm) }}
        <div class="mt-2 w-full">
            <h1 class="flex justify-center text-white text-2xl font-bold ">INSCRIPTION</h1>
        </div>
        <div class="text-white mt-2 w-full">
            <label class="text-white text-26 ml-4" for="pseudo">Pseudo :</label>
            <div class="flex justify-center">
            {{ form_widget(registrationForm.pseudo, {'attr': {'class': 'bg-neutral-800 h-8 w-11/12 border-black rounded-lg text-white text-22 mt-1 px-2', 'minlength':"3", 'maxlength':"45"}}) }}
            </div>
            <div class="flex justify-center">
            {{ form_errors(registrationForm.pseudo) }}
            </div>
        </div>
        <div class="mt-2 w-full">
            <label class="text-white text-26 ml-4" for="email">Email :</label><br>
            <div class="flex justify-center">
            {{ form_widget(registrationForm.email, {'attr': {'class': 'bg-neutral-800 h-8 w-11/12 border-black rounded-lg text-white text-22 mt-1', 'minlength':"3", 'maxlength':"180"}}) }}
            </div>
            <div class="flex justify-center">
            {{ form_errors(registrationForm.email) }}
            </div>
        </div>
        <div class="text-white mt-2 w-full">
            <div class="flex justify-center">
            {{ form_widget(registrationForm.password) }}
            </div>
            <div class="flex justify-center">
            {{ form_errors(registrationForm.password) }}
            </div>
        </div>
        <div class="flex justify-center">
        <button type="submit" class="btn text-xl text-white bg-sky-400 hover:bg-sky-600 rounded-lg w-60 m-5 text-center">CRÉER UN COMPTE</button>
        </div>
        <div class="flex justify-center pb-4">
        <a class=" text-white hover:text-sky-600 text-center font-bold" href="/login">
            Déjà un compte ? Connectez-vous ici 
        </a>
        </div>
        {{ form_errors(registrationForm) }}
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
