{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="flex justify-center rounded-lg bg-neutral-600 mt-24 mx-auto w-4/12 pt-2 pb-1">
        {{ form_start(registrationForm) }}
        <div class="mt-2 w-full">
            <label class="text-white pl-2 text-26" for="pseudo">Pseudo :</label><br>
            {{ form_widget(registrationForm.pseudo, {'attr': {'class': 'bg-neutral-800 h-8 w-full border-black rounded-lg text-white text-22 mt-1 px-2', 'minlength':"3", 'maxlength':"45"}}) }}
        </div>
        <div class="mt-2 w-full">
            <label class="text-white pl-2 text-26" for="email">Email :</label><br>
            {{ form_widget(registrationForm.email, {'attr': {'class': 'bg-neutral-800 h-8 w-full border-black rounded-lg text-white text-22 mt-1 px-2', 'minlength':"3", 'maxlength':"180"}}) }}
            {{ form_errors(registrationForm.email) }}
        </div>
        <div class="mt-2 w-full">
            {{ form_widget(registrationForm.password) }}
            {{ form_errors(registrationForm.password) }}
        </div>
        <button type="submit" class="bg-sky-400 hover:bg-sky-600 w-5/12 rounded-lg h-8 mt-4 mb-2 text-white text-22 text-center font-bold uppercase">CRÉER UN COMPTE</button>
        <br>
        <a class=" text-white hover:text-sky-600 text-center font-bold" href="/login">
            Déjà un compte ? connectez-vous ici 
        </a>
        {{ form_errors(registrationForm) }}
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
