{% extends 'base.html.twig' %}

{% block title %}Caught index{% endblock %}

{% block body %}
    <h1>Caught index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date_capture</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for caught in caughts %}
            <tr>
                <td>{{ caught.id }}</td>
                <td>{{ caught.dateCapture ? caught.dateCapture|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_caught_show', {'id': caught.id}) }}">show</a>
                    <a href="{{ path('app_caught_edit', {'id': caught.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_caught_new') }}">Create new</a>
{% endblock %}
