{% extends 'base.html.twig' %}

{% block title %}Teams{% endblock %}

{% block body %}
<div class="bg-neutral-600 rounded-lg w-11/12 mx-auto mt-24 pb-1">
    <div class="flex justify-center items-center h-8 mt-1 text-white">
        <h1 class="text-3xl pt-8">Teams</h1>
    </div>
    <div class="flex justify-center lg:justify-between mx-8 my-5">
        <div class="flex items-center">    
            <a href="{{ path('app_teams_new') }}" type="button" class="group rounded-full bg-sky-400 p-2 text-white shadow-sm hover:bg-sky-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
            <label class="text-white ml-1 mr-5"><i class="fa-solid fa-plus mr-5 group-hover:rotate-180 transition-transform duration-300"></i>Créer une nouvelle team</label>
            </a>
        </div>
    </div>
    {% for team in teams %}
        <div class="m-8 shadow-2xl bg-zinc-600 rounded-lg py-5">
            <h1 class="text-white text-center pl-2 text-xl">{{ team.name }}</h1><br>
            <div class="grid grid-cols-3 lg:grid-cols-6">
                {% for pokemon in team.PokemonAsTeam %}
                    <div class="flex h-36 justify-center relative">
                        <div class="flex text-white space-x-2">
                            <div class="hidden lg:block">#{{ pokemon.pokedexId }}</div><div>{{ pokemon.NameFr }}</div>
                        </div>
                        <a href="/pokemon/{{ pokemon.pokedexId }}"><img src="{{ pokemon.SpriteRegular }}" class="h-24 absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 hover:h-32 duration-300"></a>
                    </div>
                {% endfor %}
            </div>
            <div class="flex justify-center mx-4">
            <form method="get" action="{{ path('app_teams_edit', {'id': team.id}) }}">
                <button class="bg-sky-400 rounded-lg h-8 m-2 px-2 py-1 hover:bg-sky-600 text-white text-12 text-center font-bold uppercase">Editer</button>
            </form>
            {{ include('teams/_delete_form.html.twig') }}
            </div>
        </div>
    {% else %}
        <tr>
            <td colspan="3" class="text-white pl-2 text-26">Vous n'avez créé aucune équipe. Lancez-vous !</td>
        </tr>
    {% endfor %}
</div>
{% endblock %}
