{% extends 'base.html.twig' %}

{% block title %}Hello TeamsController!{% endblock %}

{% block body %}

<div class="main-container">
    <div class="titre-page">
        <h1 id="h1-shinydex">Teams</h1>
    </div>
    {% for team in teams %}
        <div class="div-shinydex">
        
            <h1>{{ team.name }}</h1><br>
                {% for pokemon in team.PokemonAsTeam %}
                    <div class="pokemon" value="{{ pokemon.generation.id }}">
                        <div class="pokemon_id"> # {{ pokemon.PokedexId }} </div>
                        {% set captured = capturedPokemons[pokemon.getId()] is defined %}
                        {% if captured %}
                            <img src="{{ pokemon.SpriteShiny }}">
                        {% else %}
                            <img class="filter" src="{{ pokemon.SpriteRegular }}">
                        {% endif %}
                    </div>
                {% endfor %}
        </div>
    {% endfor %}
</div>
{% endblock %}
