{% extends 'base.html.twig' %}

{% block title %}Pokedex{% endblock %}

{% block body %}

<div class="bg-neutral-600 rounded-lg w-11/12 mx-auto mt-24">
    <div class="flex justify-center items-center h-8 mt-1 text-white">
        <h1 class="text-3xl pt-8">Pokedex</h1>
    </div>
    <div class="flex flex-col lg:flex-row items-center lg:justify-around my-8">        
        <input type="text" name="searchname" id="search-by-name" class="bg-neutral-700 text-white border border-black rounded-lg px-4 py-2 h-8 my-2 text-center w-80 font-normal text-xs" placeholder="Recherche par nom" oninput="getPokedexByName({{ pokemons|json_encode }})">
        <select name="sel-type" id="select-type" onchange="getPokedexByType({{ pokemons|json_encode }}, {{ poketypes|json_encode }}, {{ types|json_encode }})" class="h-8 text-white bg-neutral-700 border border-black rounded-lg my-2 lg:w-80 pl-4 text-center text-xs">
                <option value="null">Recherche par Type</option>
            {% for type in types %}
                <option value="{{type.name}}">{{type.name}}</option>
            {% endfor %}
        </select>
        <select name="sel-generation" id="select-generation" onchange='getPokedexByGeneration({{ pokemons|json_encode }}, {{ generations|json_encode }})' class="h-8 text-white bg-neutral-700 border border-black rounded-lg lg:w-80 pl-4 text-center text-xs">
                <option value="null">Recherche par Génération</option>
            {% for generation in generations %}
                <option value="{{generation.number}}">{{generation.number}}</option>
            {% endfor %}
        </select>
    </div>
    <div class="flex justify-center items-center my-5" id="tab-poke">
        <table class="w-11/12 border-separate border-spacing-1 pb-5">
            <tr class="bg-neutral-400 h-10">
                <th>Numéro</th>
                <th>Nom</th>
                <th>Types</th>
            </tr>   
            {% for pokemon in pokemons %}
            <tr class="bg-neutral-200 h-10" id="datas-pokemon">
                <td><div class="flex justify-center">{{ pokemon.pokedex_id }}</div></td>
                <td><a href="/pokemon/{{ pokemon.pokedex_id }}" class="flex justify-center hover:text-neutral-500">{{ pokemon.name_fr }}</a></td>
                <td class="flex justify-center">
                {% set leslogos = pokemon.logos | split(',') %}
                {% set lesnomslogos = pokemon.name_logos | split(',') %}
                {% for i in 0..leslogos|length - 1 %}
                    <div class="flex justify-center relative group">
                        <img alt="{{lesnomslogos[i]}}" class="h-8 m-2" src="{{ leslogos[i] }}">
                        <div class="absolute left-1/4 transform -translate-x-1/2 mb-2 px-3 py-2 bg-gray-800 text-white text-sm rounded opacity-0 group-hover:opacity-100 transition-opacity duration-300">
                            {{lesnomslogos[i]}}
                        </div>
                    </div>
                {% endfor %}
                </td>  
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
<script src="{{ asset('js/pokedex.js') }}"></script>
{% endblock %}
