{% extends 'base.html.twig' %}

{% block title %}Fiche Pokédex - {{ pokemon.NameFr }}{% endblock %}

{% block body %}
<div class="w-6/12 mx-auto mt-24">
    <div class="grid grid-row md:grid-cols-2 bg-neutral-600 rounded-lg">
        <div class="w-60 mx-auto">
            <img class="w-100 h-auto m-5" src="{{ pokemon.SpriteRegular }}">
        </div>
        <div class="my-auto text-white">
            <div class="text-2xl">Fiche Pokédex de {{ pokemon.NameFr }}</div>
            <div class="bg-sky-400 h-px"></div>
            <div class="flex"><div>#{{ pokemon.PokedexId }} {{pokemon.NameEn}}</div>&nbsp;-&nbsp;<div>{{pokemon.NameJp}}</div></div>
            <div class="flex justify-start">
            {% for type in pokemon.PokemonHasType %}
                <div class="flex justify-center"><img class="h-8 m-2" src="{{type.Logo}}"></div>
            {% endfor %}
            </div>
        </div>
    </div>
    <div class="bg-neutral-600 rounded-lg mt-2 text-white pb-5">
        <div class="flex justify-center pt-5">GÉNÉRATION</div>
        <div class="flex justify-center">{{pokemon.Generation.Number}}</div>
        <div class="flex justify-center mt-5">CATÉGORIE</div>
        <div class="flex justify-center">{{pokemon.Category}}</div>
        <div class="grid grid-row md:grid-cols-2 mx-24 mt-5">
            <div>
                <div class="flex justify-center">TAILLE</div>
                <div class="flex justify-center">{{pokemon.Height}}</div>
            </div>    
            <div> 
                <div class="flex justify-center">POIDS</div>   
                <div class="flex justify-center">{{pokemon.Weight}}</div>
            </div>
        </div>
        <div class="mt-5">
            <div class="flex justify-center">PV : {{pokemon.Hp}}</div>
            <div class="my-2 mx-auto h-4 relative w-60 rounded-full overflow-hidden">
                <div class="w-full h-full bg-gray-200 absolute"></div>
                <div class="h-full bg-sky-400 absolute" style="width: calc(({{pokemon.Hp}} / 255) * 100%);"></div>
            </div>
            <div class="flex justify-center">ATTAQUE : {{pokemon.Atk}}</div>
            <div class="my-2 mx-auto h-4 relative w-60 rounded-full overflow-hidden">
                <div class="w-full h-full bg-gray-200 absolute"></div>
                <div class="h-full bg-sky-400 absolute" style="width: calc(({{pokemon.Atk}} / 255) * 100%);"></div>
            </div>
            <div class="flex justify-center">DÉFENSE : {{pokemon.Def}}</div>
            <div class="my-2 mx-auto h-4 relative w-60 rounded-full overflow-hidden">
                <div class="w-full h-full bg-gray-200 absolute"></div>
                <div class="h-full bg-sky-400 absolute" style="width: calc(({{pokemon.Def}} / 255) * 100%);"></div>
            </div>
            <div class="flex justify-center">ATTAQUE SPÉ : {{pokemon.SpeAtk}}</div>
            <div class="my-2 mx-auto h-4 relative w-60 rounded-full overflow-hidden">
                <div class="w-full h-full bg-gray-200 absolute"></div>
                <div class="h-full bg-sky-400 absolute" style="width: calc(({{pokemon.SpeAtk}} / 255) * 100%);"></div>
            </div>
            <div class="flex justify-center">DÉFENSE SPÉ : {{pokemon.SpeDef}}</div>
            <div class="my-2 mx-auto h-4 relative w-60 rounded-full overflow-hidden">
                <div class="w-full h-full bg-gray-200 absolute"></div>
                <div class="h-full bg-sky-400 absolute" style="width: calc(({{pokemon.SpeDef}} / 255) * 100%);"></div>
            </div>
            <div class="flex justify-center">VITESSE : {{pokemon.Vit}}</div>
            <div class="my-2 mx-auto h-4 relative w-60 rounded-full overflow-hidden">
                <div class="w-full h-full bg-gray-200 absolute"></div>
                <div class="h-full bg-sky-400 absolute" style="width: calc(({{pokemon.Vit}} / 255) * 100%);"></div>
            </div>
        </div>
        <div>
            {% if prevolutions %}
            <div  class="flex justify-center mt-5">PREVOLUTION(S)</div>
            {% for prevol in prevolutions %}
            <a  class="flex justify-center text-sky-400 hover:text-neutral-400" href="/pokemon/{{ prevol.pokedex_id }}">{{ prevol.name_fr }}</a>
            {% endfor %}
            {% endif %}
        </div>
        <div>
            {% if pokemon.Evolution.empty %}
            {% else %}
            <div class="flex justify-center mt-5">EVOLUTION(S)</div>
            {% for evol in pokemon.Evolution %}
            <a class="flex justify-center text-sky-400 hover:text-neutral-400" href="/pokemon/{{ evol.PokedexId }}">{{ evol.NameFr }}</a>
            {% endfor %}
            {% endif %}
        </div>
        <div class="flex justify-center mt-5">TALENT(S)</div>
        <div>
            {% for ability in pokemon.PokemonHasAbility %}
            {% if ability.Hidden == 0 %}
                <div class="flex justify-center">{{ ability.Name }}</div>
            {% else %}
                <div class="flex justify-center">{{ ability.Name }}&nbsp;<div class="bg-sky-400 rounded-lg px-1">Talent caché</div></div>
            {% endif %}
            {% endfor %}
        </div>        
    </div>
</div>
{% endblock %}
