{% extends 'base.html.twig' %}

{% block title %}Fiche Pokédex - {{ pokemon.NameFr }}{% endblock %}

{% block body %}
<div>
<div class="w-10/12 mx-auto mt-24">
    <div class="grid grid-row md:grid-cols-2 bg-neutral-600 rounded-lg">
        <div class="w-60 mx-auto">
            <img class="w-100 h-auto m-5" src="{{ pokemon.SpriteRegular }}">
        </div>
        <div class="my-auto text-white">
            <div class="text-2xl">Fiche Pokédex de {{ pokemon.NameFr }}</div>
            <div class="bg-green-500 h-px"></div>
            <div class="flex"><div>#{{ pokemon.PokedexId }} {{pokemon.NameEn}}</div>&nbsp;-&nbsp;<div>{{pokemon.NameJp}}</div></div>
            <div class="flex justify-start">
            {% for type in pokemon.PokemonHasType %}
                <div class="flex justify-center"><img class="h-8 m-2" src="{{type.Logo}}"></div>
            {% endfor %}
            </div>
        </div>
    </div>
    <div class="bg-neutral-600 rounded-lg mt-2 text-white">
        <div class="flex justify-center pt-5">GÉNÉRATION</div>
        <div class="flex justify-center">{{pokemon.Generation.Number}}</div>
        <div class="flex justify-center mt-5">CATÉGORIE</div>
        <div class="flex justify-center">{{pokemon.Category}}</div>
        <div class="grid grid-cols-2 mx-auto mt-5">
            <div class="flex justify-center">TAILLE</div>
            <div class="flex justify-center">POIDS</div>
            <div class="flex justify-center">{{pokemon.Height}}</div>
            <div class="flex justify-center">{{pokemon.Weight}}</div>
        </div>
        <div class="mt-5 ml-60">
            <div class="flex justify-start">PV :{{pokemon.Hp}}</div>
            <div class="flex justify-start">ATTAQUE :{{pokemon.Atk}}</div>
            <div class="flex justify-start">DÉFENSE :{{pokemon.Def}}</div>
            <div class="flex justify-start">ATTAQUE SPÉ :{{pokemon.SpeAtk}}</div>
            <div class="flex justify-start">DÉFENSE SPÉ :{{pokemon.SpeDef}}</div>
            <div class="flex justify-start">VITESSE :{{pokemon.Vit}}</div>        
        </div>
        <div>
            {% for prevol in prevolutions %}
            {% if not prevolutions %}
            <div style="text-align: left;">PREVOLUTION(S)</div>
            <a class="lien-fiche-pokemon" href="/pokemon/{{ prevol.pokedex_id }}">{{ prevol.name_fr }}</a>
            <br>
            {% endif %}
            {% endfor %}
        </div>
        <div>
            <div style="text-align: left;">EVOLUTION(S)</div>
            <div>
                {% if pokemon.Evolution.empty %}
                    -
                {% else %}
                    {% for evol in pokemon.Evolution %}
                        <a class="lien-fiche-pokemon" href="/pokemon/{{ evol.PokedexId }}">{{ evol.NameFr }}</a>
                        <br>
                    {% endfor %}
                {% endif %}
            </div>
        <div>
        <div style="text-align: left;">TALENT(S)</div>
            <div>
            {% for ability in pokemon.PokemonHasAbility %}
                {% if ability.Hidden == 0 %}
                    <div class="ability">{{ ability.Name }}</div>
                {% else %}
                    <div class="ability">{{ ability.Name }} <span class="talent-cache">Talent caché</span></div>
                {% endif %}
            {% endfor %}
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}
