{% extends 'base.html.twig' %}

{% block title %}Hello PokemonController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>{{pokemon.name_fr}}</h1>
    <img src="{{pokemon.sprite_regular}}">
    <ul>
        <li>Nom anglais : {{pokemon.name_en}}</li>
        <li>Nom japonais : {{pokemon.name_jp}}</li>
        <li>Categorie : {{pokemon.category}}</li>
        <li>Génération : {{pokemon.gene}}</li>
        <li>HP : {{pokemon.hp}}</li>
        <li>Attaque : {{pokemon.atk}}</li>
        <li>Défense : {{pokemon.def}}</li>
        <li>Spé atk : {{pokemon.spe_atk}}</li>
        <li>Spé def : {{pokemon.spe_def}}</li>
        <li>Vitesse : {{pokemon.vit}}</li>
        <li>Taille : {{pokemon.height}}</li>
        <li>Poids : {{pokemon.weight}}</li>
    </ul>
</div>
{% endblock %}
