<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
{% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <nav>
        <div class="nav_gauche">
            <div>
                <a href="/"><img id="logo" src="/images/LogoPokeball.png" alt="logo"></a>
            </div>
            <ul>
                <li><a href="/pokedex">pokedex</a></li>
                <li><a href="/shinydex">shinydex</a></li>
                <li><a href="/teams">teams</a></li>
            </ul>
        </div>
        <div class="nav_droite">
        {% if is_granted('ROLE_USER') %}
            <a class="sub" href="{{path('app_teams_index')}}">{{app.user.pseudo}}</a>
            <a class="sub" href="/logout">déconnexion</a>
        {% else %}
            <a class="sub" href="{{path('app_register')}}">inscription</a>
            <a class="sub" href="{{path('app_login')}}">connexion</a>
        {% endif %}
        </div>
    </nav>
    <body>
    <div class="container">
        {% block body %}{% endblock %}
    </div>
    </body>
    <foot>
        <div class="footer"> © All right reserved to Nintendo </div>
    </foot>
</html>
