<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <nav class="bg-red-600 overflow-hidden fixed w-full top-0 z-50 flex uppercase font-bold justify-between h-20">
        <div class="flex">
            <div class="border-r-2">
                <a href="/"><img id="logo" src="/images/LogoPokeball.png" alt="logo" class="h-16 w-16 mt-2 ml-10 mr-10"></a>
            </div>
            <ul class="flex">
                <li class="my-8 px-10 list-none flex items-center border-r border-white"><a href="/pokedex" class="text-black no-underline hover:text-white">pokedex</a></li>
                <li class="my-8 px-10 list-none flex items-center border-r border-white"><a href="/shinydex" class="text-black no-underline hover:text-white">shinydex</a></li>
                <li class="my-8 px-10 list-none flex items-center border-r border-white"><a href="/teams" class="text-black no-underline hover:text-white">teams</a></li>
            </ul>
        </div>
        <div class="flex">
        {% if is_granted('ROLE_USER') %}
            <a class="bg-white m-5 p-2 border border-black rounded-lg hover:text-white hover:bg-black" href="">{{app.user.pseudo}}</a>
            <a class="bg-white m-5 p-2 border border-black rounded-lg hover:text-white hover:bg-black" href="/logout">déconnexion</a>
        {% else %}
            <a class="bg-white m-5 p-2 border border-black rounded-lg hover:text-white hover:bg-black" href="{{path('app_register')}}">inscription</a>
            <a class="bg-white m-5 p-2 border border-black rounded-lg hover:text-white hover:bg-black" href="{{path('app_login')}}">connexion</a>
        {% endif %}
        </div>
    </nav>
    <body>
    <div class="flex justify-center mt-24">
        {% block body %}{% endblock %}
    </div>
    </body>
    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
    <foot class="overflow-hidden w-full bottom-0 z-40 bg-red-600 flex items-center flex-row justify-center font-bold text-uppercase h-6 mt-2">
        <div class="flex items-center justify-center text-center text-sm"> © All right reserved to Nintendo </div>
    </foot>
</html>
